
h6 {
    font-size: 16px;
}

.profileHeight {
    height: 100vh;
}

.profileImage {
    display: flex;
    border-radius: 80px;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#profilePicNameRate {
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
    align-items: center;
    margin-left: 20px;
}

.profileDetails {
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin-left: 20px;
    margin-right: 60px;
}

.profileDetailsName {
    display: flex;
    justify-content: space-between;
}

.profileDetailsStyle {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: space-between;
}

.profileDetailsStyle svg {
    color: black;
}

.profileStyleIns {
    font-style: italic;
    display: flex;
    text-align: center;
}

.profileStyleInstruments {
    display: flex;
    flex-flow: column;
}

.proPhone svg {
    display: flex;
    width: 50px;
}

.proPhone {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.proMail {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.proUsername {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 30px;
}

.proInstrument {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 40px;
}


.profileUsername {
    display: flex;
    text-align: center;
    width: 200px;
    justify-content: center;
}

.profileEdit button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80%;
    left: 50%;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 3px inset;
    color: white;
    background-color: black;
    text-transform: uppercase;
}

.profileEdit a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.profileDescription {
    text-align: center;
    font-style: italic;
}

.profileButtons {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: flex-end;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.profileButtons svg{
    display: flex;
    height: 70px;
    width: 70px;
}


.buttonPresentationCard button {
    width: 10vh;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 0;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonPresentationCard button:active {
    border-color: yellow;
}

.buttonViewClasses button:active {
    border-color: yellow;
}

.buttonViewEvent button:active {
    border-color: yellow;
}

.buttonViewSales button:active {
    border-color: yellow;
}

.buttonViewSales button {
    width: 10vh;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 0;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonViewEvent button {
    width: 10vh;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 0;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonViewClasses button {
    width: 10vh;
    justify-content: center;
    display: flex;
    background-color: white;
    border: 0;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.profileInformation {
    border-radius: 10px;
    border: black;
    display: flex;
    flex-flow: column;
}

.hide {
    display: none;
}

.proPhone svg {
    color: black;
}

.logoPerfil {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logoPerfil img {
    width: 80px;
    position: relative;
    bottom: 40px;
}