.editProfileTitle {
    text-align: center;
}

.formEditP {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.divFormEditP {
    margin-top: 10px;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
}

.divFormEditP input{
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 3px;
    text-align: center;
    width: 280px;
    text-overflow: ellipsis;
    background-color: rgb(32, 178, 170, 0.1);
    height: 30px;
    font-size: 18px;
}

.divFormEditP :placeholder-shown {
    background-color: white !important;
}

.divFormEditP input:hover {
    border: 2px solid rgb(128, 128, 128, 0.1);
    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.divFormEditP input:focus {

    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.divFormEditP textarea {
    width: 280px;
    box-shadow: 0 0 3px;
    border-radius: 3px;
    text-align: center;
    border: 0;
    background-color: rgb(32, 178, 170, 0.1);
    font-size: 18px;
}

.divFormEditP textarea:hover {
    border: 2px solid rgb(128, 128, 128, 0.1);
    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.divFormEditP textarea:focus {
    border: 2px solid rgb(128, 128, 128, 0.1);
    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.divFormEditPCheckBox {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    font-size: 18px;
}


.divFormEditPCheckBox select{
    border-radius: 3px;
    background-color: rgb(32, 178, 170, 0.1);
    height: 30px;
}

.divFormEditPCheckBox select:hover {
    border: 2px solid rgb(128, 128, 128, 0.1);
    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.formProfileButton {
    margin: 10px;
    display: flex;
    justify-content: center;

}


.formProfileButton button{
    border-radius: 3px;
    height: 45px;
    width: 90px;
    border: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}

.formProfileButton button:hover {
    border: 2px solid rgb(128, 128, 128, 0.1);
    background-color: rgb(173, 213, 230, 0.4);
    box-shadow: 0 0 20px;
}

.LogoImgForm{
    width: 160px;
    height: 100px;
}

.titleForm{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: space-around;  
}

*{
    font-family: Arial, Helvetica, sans-serif;
}