/* img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
} */

.profileHeight{
height: 95vh;
}

.profileImage{
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
}

#profilePicNameRate{
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
    align-items: center;
}

.profileDetails{
    display: flex;
    justify-content: space-around;
}

.proPhone{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
}
.proMail{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.proUsername{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 30px;
}

.proInstrument{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 40px;
}

/* .profileEdit{
    display: flex;

} */

.profileEdit button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 50%;
    border-radius: 30px;
    background-color: rgb(0, 255, 255, 0.3);;
}

.profileEdit a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profileDescription {
    text-align: center;
    font-style: italic;
}

.profileButtons{
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: flex-end;
}

.buttonPresentationCard button{
    display: flex;
    background-color: aliceblue;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonPresentationCard button:active{
    border-color: yellow;
}
.buttonViewClasses button:active{
    border-color: yellow;
}
.buttonViewEvent button:active{
    border-color: yellow;
}
.buttonViewSales button:active{
    border-color: yellow;
}

.buttonViewSales button{
    display: flex;
    background-color: aliceblue;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonViewEvent button{
    display: flex;
    background-color: aliceblue;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.buttonViewClasses button{
    display: flex;
    background-color: aliceblue;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    margin-left: 10px;
    height: 25px;
    align-items: center;
    padding-top: 5px;
}

.profileInformation{
    border-radius: 10px;
    border: black;
    display: flex;
    flex-flow: column;
    /* margin: 10px; */
    box-shadow: 0 0 20px;
}