
.profileEventHeight {
    height: 95vh;
}

.profileNotFound{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.profileNotFound a{
    text-decoration: none;
    color: black;
}

