/* img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
} */

.profileImage{
    display: flex;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
}

#profilePicNameRate{
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
    align-items: center;
}

.profileDetails{
    display: flex;
    justify-content: space-around;
}

.proPhone{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
}
.proMail{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.proUsername{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 30px;
}

.proInstrument{
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 40px;
}

/* .profileEdit{
    display: flex;

} */

.profileEdit button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    left: 50%;
    border-radius: 30px;
    background-color: lightgrey;
}

.profileEdit a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}