.presentationCard{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.createPresentationCard{
    display: flex;
    align-items: center;
}

.listPresentationCard{
    display: flex;
    flex-flow: column;
    background-color: red;
    width: 90%;
    border-radius: 10px;

}

.musicLinks{
    display: 	flex;
    justify-content: center;
    align-items: center;
}

.listPresentationCard a{
    display: flex;
}

.listPresentationCard h2{
    display: flex;
    justify-content: center;
}
