.presentationCard{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 95vh;
}

.createPresentationCard{
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    background-color: rgb(0, 255, 255, 0.3);
}

.createPresentationCard a{
    text-decoration: none;
}

.listPresentationCard{
    display: flex;
    flex-flow: column;
    background-color: lightseagreen;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 2px 2px;
    margin-bottom: 30px;
}

.musicLinks{
    display: 	flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.musicLinks svg{
    height: 50px;
    width: 50px;
    gap: 5px;
    flex-wrap: wrap;
}

.listPresentationCard a{
    display: flex;
}

.listPresentationCard h4{
    display: flex;
    justify-content: center;
}

.profileLinksHeight{
    height: 95vh;
    }