
.footBarComponents {
    position: fixed ;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    background-color: white;

}

.footbar-icons {
    font-size: 20px;
}

.buttonBack {
    color: #d3d3d3;

}


.btnHome {
    height: 10px;
    width: 10px;


}