.selected {
   color: black;
}
.unSelected{
   color: #d3d3d3;
}
/* body{
   background:linear-gradient(to top left, #FFD372, #FF99D7);
   color:#333;
} */
span{
   color: #CF0A0A;
   margin:0;
   padding:0;
   height: 0;
}
