.selected {
   color: black;
}

.unSelected {
   color: #d3d3d3;
}


span {
   color: #CF0A0A;
   margin: 0;
   padding: 0;
   height: 0;
}

.navIcon {
   margin: 10px 0px;
   text-align: center;
   align-items: center;
   cursor: pointer;


}