.cardLink {
    text-decoration: none;
    color: black
}

span {
    color: red
}

.photoDetails {
    width: 100vw;
    height: 300px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    align-content: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

p {
    color: grey
}

.button-class {


    display: inline-block;
    outline: none;
    justify-items: center;
    cursor: pointer;
    font-weight: 400;
    border-radius: 3px;
    padding: 8px 15px;
    border: 0;
    color: #fff;
    background: #00020b;
    line-height: 0.3;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px 0px 60px 0px;


}


.priceStyleLits {
    color: black;
}

.textStyle {
    padding: 5px 10px;
    color: black;
}

.logoDetailPage {
    width: 160px;
    margin: 0 118px;
}

.userImage {
    width: 33px;
    height: 33px;
    border-radius: 25px;
    margin: 8px 0;
    object-fit: cover;
}

.userFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
    margin: 10px 10px;
}



.phoneIcon{
    color:black;
    margin: 0 15px;
    text-decoration: none;
}

.flexContact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;

}

.icon {
    margin: 0px 0px;
    font-size: 0.9rem;
    font-style: italic;
}


.singleSaleHeight {
    height: 95vh;
}

.backgroundImg {
    z-index: 10;
    width: 200px
}