.logoDetailPage{
    text-align: center;
    

}

.singleEvent{
    height: 100vh;
    }

    
.CardStyleEvents{
  color: black;
  padding: 0px 0px 0px 0px;
  width: 350px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px #d0d0d0;

}

.titleFav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleFav svg {
    margin-right: 35px;
}

.buttonClassEvent{
        display: inline-block;
        outline: none;
        justify-items: center;
        cursor: pointer;
        font-weight: 400;
        border-radius: 3px;
        padding: 8px 15px;
        border: 0;
        color: #fff;
        background: #00020b;
        line-height: 0.3;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 20px 0px 60px 120px;

}