.logoDetailPage{
    text-align: center;
    

}

.singleEvent{
    height: 100vh;
    }

    
.CardStyleEvents{
  color: black;
  padding: 0px 0px 0px 0px;
  width: 350px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px 0px #d0d0d0;

}

.titleFav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleFav svg {
    margin-right: 35px;
}

